<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 90%;
            margin: auto;
        }
        h1 {
            color: #333;
        }
        input[type="text"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        .shortened-url {
            margin-top: 20px;
            word-break: break-all;
            overflow-wrap: break-word;
            color: #1e88e5;
            font-weight: bold;
        }

        /* Media Queries */
        @media only screen and (min-width: 600px) {
            .container {
                width: 60%;
            }
            input[type="text"] {
                width: calc(100% - 40px);
            }
        }
    </style>
</head>
<body>
     <div class="container">
        <h1>URL Shortener</h1>
        <form 
          action="/Back_Home" 
          method="POST">
            <input 
              type="text" 
              name="url" 
              placeholder="Enter your long URL here" required>
            <br>
            <input
              type="submit" 
              value="submit">
        </form> 
      
    </div>
</body>
</html>
